:root {
    --colorFondo: #2B2C34;
    --rojoNintendo: #ff6b6b;
    --morado: #6246EA;
    --moradoOscuro: #201364;
    --moradoClaro: #D1D1E9;
    --blanco: #FFFFFE;
    --gris: #D9D9D9;
    --grisOscuro: #666;
    --fuentePrincipal: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuentePrincipal);
    background: #f1f1f1;
}

nav {
    background: var(--rojoNintendo);
}



ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contenedor_logo {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}

.logo_img {
    height: 30px;
    width: 40px;
}

.logo_texto {
    color: var(--blanco);
    font-family: sans-serif;
}

.logo_koopas {
    font-size: 10px;
}

h1 {
    line-height: 0.9;
    font-size: 20px;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.logo a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 15px 10px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.especial {
    background-color: var(--moradoClaro);
}

.especial2:hover {
    background-color: var(--morado);
}

.item.active {
    display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }


    .logo {
        flex: 1;
    }

    .toggle {
        flex: 1;
        text-align: right;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7.5px 15px;
        background: var(--morado);
        border-style: none;
        border-radius: 10px;
    }

    .button.secondary a {
        background: var(--moradoClaro);
        color: var(--colorFondo);
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: var(--moradoOscuro);

    }

    .button.secondary a:hover {
        color: var(--morado);
    }

    .perfil{
        background: var(--rojoNintendo) !important;
    }
    .perfil:hover{
        color: var(--colorFondo);
    }

    .especial2:hover {
        background-color: var(--rojoNintendo);
    }
}

/* Desktop menu */
@media all and (min-width: 900px) {
    nav {

        padding: 5px 20px;
    }

    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li:first-child {
        padding: 0px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

    .especial {
        background-color: var(--rojoNintendo);
    }


}

.footer {
    background-color: var(--rojoNintendo);
}

.footer p {
    padding: 20px 0;
    color: var(--blanco);
    font-size: 15px;
    margin: 0 10px;
    text-align: center;
    display: block;
}