.titulo_principal p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    font-size: larger;
}

.nav_link:hover {
    background-color: var(--gris);
}

.container {
    max-width: 100%;
    max-height: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.relative{
    position: relative;
}

.flex-container {
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 6px;
}

/* .contenedor_posts {
    justify-items: center;
    margin: 0 auto;
    width: 100%;
} */

.pestanias {
    width: 100%;
}

.pestanias .contenedor {
    display: flex;
    align-items: end;
}

.pestanias .btn {
    background-color: var(--moradoClaro);
    width: 20%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 1px;
}

.btn.active {
    height: 3rem;
    background-color: var(--morado);
    color: var(--blanco);
    font-weight: bolder;
    font-size: medium;
}

.publicaciones {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--moradoClaro);
}

.contenido_post{
    text-align: center;
    font-weight: normal;
    font-size: large;
}

.card {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    height: 20rem;
    width: 90%;
    margin: 3rem;
}

.card-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.card-body {
    display: flex;
    height: 10rem;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    justify-content: center;
}

.card-footer {
    border-top: 1px solid #eee;
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: right;
    font-weight: lighter;
    height: 20%;
}

.column {
    flex: 1;
    padding: 15px;
}
